.file-container {
    width: 50vw;
    height: 20vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(136, 136, 133);

    .default-file-upload {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
    }

    .custom-file-upload {
        border-radius: 50px;
        padding: 14px 12px;
        width: 200px;
        background: rgb(198, 198, 248);
    }
}